body {
    background-color: #ffffff;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    color: rgb(0, 0, 0);
}

h1 {
    color: black;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: white;
}

h2 {
    text-align: start;
    color: black;
}

h3 {
    color: rgb(0, 0, 0);
}

.Eu {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 250px;
    width: 250px;
    margin-top: 100px;
}

.faixa-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin-bottom: 5px;
}

.conteudo {
    padding-top: 60px;
}

.linguagens {
    padding-top: 20px;
    overflow-x: hidden;
}

.scroll-imagens {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px;
}

.scroll-imagens > div {
    flex: 0 0 auto;
    scroll-snap-align: center;
}

.Cpp, .Python, .htmlcss {
    width: 250px;
    height: 250px;
}

.Cpp img, .Python img, .htmlcss img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Links {
    width: 100%;
    text-align: center;
}

.Links h3{
    position: absolute;
    padding-top: 80px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social img {
    width: 50px; 
    height: 50px;
    transition: transform 0.2s; 
}

.social img:hover {
    transform: scale(1.1); 
}

position: absolute;
    top: 50%;
    font-size: 10vw;
    margin: 0;
    line-height: 1;
    letter-spacing: -0.05em;
    font-weight: bold;
    position: relative;
    z-index: 0; 